<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="mixer_control_globalver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="mixer_control_globalver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<mixer_control_globalver.Properties.Settings>
   <setting name="website" serializeAs="String">
    <value>https://www.tech-link.com.hk/en</value>
   </setting>
   <setting name="master_pw" serializeAs="String">
    <value />
   </setting>
  </mixer_control_globalver.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<mixer_control_globalver.Properties.Settings>
   <setting name="folder_directory" serializeAs="String">
    <value />
   </setting>
   <setting name="plc_ip" serializeAs="String">
    <value />
   </setting>
   <setting name="database_no" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="language" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="max_speed" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="spindle_diameter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="sensor_diameter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="transmission_ratio" serializeAs="String">
    <value>0</value>
   </setting>
  </mixer_control_globalver.Properties.Settings>
	</userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
